{% extends 'davur/elements/base_modal.html' %}
{% load widget_tweaks %}

{% block modal_title_block %}
    <h5 class="modal-title">Añadiendo repartidor</h5>
{% endblock modal_title_block %}

{% block form_block %}
<form id="deliveryman-form" method="POST" action="{% url 'ors:create-deliveryman'%}">
    <div class="modal-body">
        <div class="basic-form">

            {% csrf_token %}

            {% include 'davur/elements/base-deliveryman-form.html' %}

            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Añadir</button>
            </div>
        </div>
    </div>
</form>
{% endblock form_block %}


