{% load static %}
<div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              {% block modal_title_block %}
              {% endblock %}
              <button type="button" class="btn-close" data-bs-dismiss="modal">
              </button>
          </div>
                 {% block form_block %}

                 {% endblock %}



      </div>
  </div>

<!-- This section is for the javascript files that validates some of the form fields -->
{%  if form.price_per_pizza %}
      <script src="{% static 'davur/ajax/price-validation.js' %}"></script>
{% elif form.discount %}
    <script src="{% static 'davur/ajax/discount-code-validation.js' %}"></script>
{% elif form.cedula %}
    <script src="{% static 'davur/ajax/deliveryman-validation.js' %}"></script>
{% endif %}

{% block additionalAjax %}
{% endblock %}