{% load static %}
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">General</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'ors:admin_panel' %}">Estadísticas</a></li>
                    <li><a href="{% url 'ors:reviews' %}">Reseñas</a></li>
                    <li><a href="{% url 'ors:order_list' %}">Ordenes</a></li>
                    <li><a href="{% url 'ors:customers' %}">Clientes</a></li>
                    <li><a href="{% url 'ors:deliverymen' %}">Repartidores</a></li>
                    <li><a href="{% url 'ors:pizzas' %}">Pizzas</a></li>
                    <li><a href="{% url 'ors:coupons' %}">Cupones</a></li>
                </ul>
            </li>


            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                   <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Inventario</span>
                </a>

                    <ul aria-expanded="false">
                        <li><a href="{% url 'ors:sizes' %}">Tamaños</a></li>
                        <li><a href="{% url 'ors:masses' %}">Masas</a></li>
                        <li><a href="{% url 'ors:ingredients' %}">Ingredientes</a></li>
                    </ul>
            </li>

        <div class="copyright">
            <p><strong>Davur - Restaurant Admin Dashboard</strong> © 2022 All Rights Reserved</p>
            <p>Made with <span class="heart"></span> by DexignZone</p>
        </div>
    </div>
</div>