{% extends 'frontend/elements/layouts/base.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- row -->
    <div class="container-fluid">

        <div class="form-head dashboard-head d-md-flex d-block mb-5 align-items-start">
            <h2 class="dashboard-title">Términos y condiciones de Eduardo’s Pizza</h2>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <img src="{% static 'frontend/images/terms-condition.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-black main-title mb-3">Pedidos</h5>
                        <p class="text-black mb-5">
                            En nuestro restaurante de pizza, nos esforzamos por brindarle la mejor experiencia de compra en línea para que pueda disfrutar de nuestras deliciosas pizzas en la comodidad de su hogar. Para garantizar la eficiencia y precisión en el proceso de pedidos, solo aceptamos pedidos a través de nuestro sitio web o aplicación móvil, y no aceptamos pedidos por teléfono.
                        </p>
                        <h5 class="text-black main-title mb-3">Pagos</h5>
                        <p class="text-black mb-5">
                            Nos enorgullece ofrecer un proceso de pago en línea rápido, fácil y seguro para garantizar una experiencia de compra en línea sin problemas. Para asegurarnos de que se procesen los pagos de manera precisa y segura, solo aceptamos pagos en línea a través de nuestro sitio web o aplicación móvil, y no aceptamos pagos en efectivo ni cheques personales.
                        </p>
                        <h5 class="text-black main-title mb-3">Entregas</h5>
                        <p class="text-black mb-5">
                            La entrega se realiza dentro de nuestra zona de entrega designada. La tarifa de entrega se muestra en el momento del pedido y se agrega al total del pedido. Los tiempos de entrega pueden variar según la cantidad de pedidos en espera y las condiciones climáticas.
                        </p>
                        <h5 class="text-black main-title mb-3">Calidad del producto</h5>
                        <p class="text-black mb-5">
                            Nos esforzamos por proporcionar productos de alta calidad a todos nuestros clientes. Si tiene algún problema con la calidad de su pedido, comuníquese con nosotros de inmediato para que podamos solucionarlo.
                        </p>
                        <h5 class="text-black main-title mb-3">Política de devoluciones</h5>
                        <p class="text-black mb-5">
                            No aceptamos devoluciones de productos alimenticios a menos que se haya cometido un error en el pedido o el producto esté dañado o en mal estado.
                        </p>
                        <h5 class="text-black main-title mb-3">Política de privacidad</h5>
                        <p class="text-black mb-5">
                            Nos comprometemos a proteger su privacidad y sus datos personales. No compartimos su información con terceros sin su consentimiento.
                        </p>
                        <h5 class="text-black main-title mb-3">Propiedad intelectual</h5>
                        <p class="text-black mb-5">
                            Todos los contenidos del sitio web y la aplicación móvil, incluyendo imágenes, textos y logotipos, son propiedad exclusiva del restaurante de pizza y están protegidos por las leyes de propiedad intelectual.
                        </p>
                        <h5 class="text-black main-title mb-3">Responsabilidad</h5>
                        <p class="text-black mb-5">
                            El restaurante de pizza no se hace responsable de ningún daño o pérdida causada por el uso de nuestro sitio web o aplicación móvil, incluyendo pérdidas financieras o de datos.
                        </p>
                        <p class="text-black mb-5">
                            Al realizar un pedido en nuestro restaurante de pizza, acepta estos términos y condiciones. Si tiene alguna pregunta o inquietud, no dude en comunicarse con nosotros al 3002847626. ¡Gracias por elegirnos!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_js %}

{% endblock %}