{% extends 'davur/table/base-table-1.html' %}


{% block table_headers %}
    <th>ID</th>
    <th>Nombre</th>
    <th>Cedula</th>
    <th>Teléfono</th>
    <th>Dirección</th>
{% endblock %}

{% block table_content %}
    {% for customer in customers %}

        <tr>

        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.cedula }}</td>
        <td>{{ customer.phone_number }}</td>
        <td>{{ customer.address }}</td>

        </tr>
    {% endfor %}
{% endblock %}