{% extends 'davur/table/base-table-1.html' %}

{% block additional_buttons %}
 <div class="form-head dashboard-head d-md-flex d-block mb-5 align-items-start">
            <h2 class="dashboard-title me-auto">{{ title }}</h2>
 </div>
{% endblock %}

{% block table_headers %}
    <th>ID</th>
    <th>Tamaño</th>
    <th>Precio total</th>
    <th>Tipo de masa</th>
    <th>Precio por tamaño</th>
    <th>Precio por masa</th>
    <th>ID orden</th>
{% endblock %}

{% block table_content %}
    {% for pizza in pizzas %}

        <tr>

        <td>{{ pizza.id }}</td>
        <td>{{ pizza.size }}</td>
        <td>{{ pizza.total_price }}</td>
        <td>{{ pizza.mass_type }}</td>
        <td>{{ pizza.price_per_mass }}</td>
        <td>{{ pizza.price_per_size }}</td>
        <td>{{ pizza.order.id }}</td>

        </tr>
    {% endfor %}
{% endblock %}