{% extends 'davur/table/base-table-1.html' %}


{% block additional_buttons %}

 <div class="form-head dashboard-head d-md-flex d-block mb-5 align-items-start">
            <h2 class="dashboard-title me-auto">{{ title }}</h2>
 </div>

{% endblock %}

{% block table_headers %}
    <th scope="col">ID</th>
    <th scope="col">Cliente</th>
    <th scope="col">Repartidor</th>
    <th scope="col">Calificación</th>
    <th scope="col">Mensaje</th>
{% endblock %}

{% block table_content %}

    {% for review in object_list %}

        <tr>
            <td>{{ review.id }}</td>
            <td>{{ review.order.customer }}</td>
            <td>{{ review.order.deliveryman }}</td>
            <td>{{ review.rating_value }}</td>
            <td>{{ review.message }}</td>


        </tr>

    {% endfor %}
{% endblock %}

