{%  extends 'davur/elements/base_modal.html' %}
{% load widget_tweaks %}

{% block modal_title_block %}
    <h5 class="modal-title">Editando '{{ size.name }}'</h5>
{% endblock %}

{% block form_block %}
<form method="POST" action="{% url 'ors:edit-size' size.id %}">
    <div class="modal-body">
        <div class="basic-form">

            {% csrf_token %}

            <label class ="form-label" for="name">Nombre</label>
            {{ form.name|attr:"class:form-control input-rounded" }}

            <br>
            <label class ="form-label" for="price_per_pizza">Precio por pizza</label>
            {{ form.price_per_pizza| attr:"class:form-control input-rounded" }}

            <br>
            <label class="form-label" for="available">Disponible</label>"
            {{ form.available|attr:"class:form-check"}}


            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
        </div>
    </div>
</form>
{% endblock form_block %}

